Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2020-07, with the labels that each got.

#115 [ci:component:github.com/gardener/machine-controller-manager:v0.31.0->v0.32.0]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#116 Enable whitelisting for machine image sharing
  charts/gardener-extension-provider-alicloud/templates/configmap.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  docs/usage-as-operator.md
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/controller/infrastructure/add.go
Labels: kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal

#117 update csi plugin version
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-dep.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal

#112 Revert "Revert Terraform resource timeouts"
  charts/internal/alicloud-infra/templates/main.tf
Labels: area/quality, kind/task, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#120 Allow to append zone in network.zones
  pkg/apis/alicloud/validation/infrastructure.go
  pkg/apis/alicloud/validation/infrastructure_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal

#122 add usage of specifying static ip
  docs/usage-as-end-user.md
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm
