Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2020-11, with the labels that each got.

#171 vendor g/g 1.12.1
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/config.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/terraformer.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/types.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/extensions/terraformer/mocks.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/monitoring_alertingrules.test.yaml
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/shoot_resources.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/waiter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/waiter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/wanted_secrets.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#172 revendor g/g 1.12.4
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/helper/shootstate_list.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/miscellaneous.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/secrets.go
  vendor/github.com/gardener/gardener/pkg/operation/shootsecrets/secrets_manager.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/taskfn.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#174 mutate lb type service annotation
  charts/gardener-extension-provider-alicloud/templates/configmap.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/webhook/controlplaneexposure/add.go
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
  pkg/webhook/shoot/add.go
  pkg/webhook/shoot/mutator.go
  pkg/webhook/shoot/mutator_test.go
  pkg/webhook/shoot/service_test.go
  pkg/webhook/utils/service.go
Labels: area/control-plane, kind/api-change, kind/bug, needs/changes, needs/ok-to-test, needs/second-opinion, platform/alicloud, priority/normal, size/m

#175 Fix "make test" on macOS
  go.mod
  go.sum
  vendor/github.com/gobuffalo/packr/v2/SHOULDERS.md
  vendor/github.com/gobuffalo/packr/v2/go.mod
  vendor/github.com/gobuffalo/packr/v2/go.sum
  vendor/github.com/gobuffalo/packr/v2/version.go
  vendor/github.com/karrick/godirwalk/bench.sh
  vendor/github.com/karrick/godirwalk/readdir_unix.go
  vendor/github.com/karrick/godirwalk/scandir_unix.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#177 add method to set protection flag of slb
  pkg/alicloud/client/client.go
  pkg/alicloud/client/types.go
  pkg/controller/infrastructure/actuator.go
  pkg/mock/provider-alicloud/alicloud/client/mocks.go
Labels: area/robustness, kind/bug, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/s

#179 Changing the default parameters handling and adding all properties to…
  .test-defs/provider-alicloud.yaml
  test/tm/generator.go
Labels: kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/s

#170 Forbid network cidr 100.64.0.0/10
  pkg/apis/alicloud/validation/shoot.go
  pkg/apis/alicloud/validation/shoot_test.go
  pkg/validator/shoot_validator.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/changes, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/m

#180 Error wrapping for UpdateMachineImagesStatus function
  pkg/controller/worker/machine_images.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#188 Prepare Next Dev Cycle v1.19.1-dev
  VERSION
  example/controller-registration.yaml
Labels: area/delivery, kind/impediment, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs

#190 Switch to gcr base images
  Dockerfile
  go.mod
Labels: kind/cleanup, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#178 Fix ccm empty checksum annotation issue
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#191 Run infra integration test on release
  .ci/pipeline_definitions
  .ci/test-integration.sh
  .ci/testruns/default/Chart.yaml
  .ci/testruns/default/templates/testrun.yaml
  .ci/tm-config.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/s

#193 Clean up the deletion of legacy cloud provider ConfigMap
  pkg/controller/controlplane/clean_old_resources.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s
