Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2020-12, with the labels that each got.

#194 Update cloud credentials even for unwanted machine deployments.
  .github/pull_request_template.md
  go.mod
  go.sum
  pkg/controller/common/terraform.go
  pkg/controller/common/terraform_test.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/controller/worker/machine_controller_manager.go
  test/e2e/networkpolicies/networkpolicy_test.go
  vendor/github.com/gardener/gardener/.github/pull_request_template.md
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_delete.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/interface.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/config.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/errors.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/state.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/terraformer.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/waiter.go
  vendor/github.com/gardener/gardener/extensions/test/e2e/framework/networkpolicies/agnostic.go
  vendor/github.com/gardener/gardener/hack/.ci/set_dependency_version
  vendor/github.com/gardener/gardener/pkg/mock/gardener/extensions/terraformer/mocks.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/cleanup.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/interfaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/containerruntime.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/clusterautoscaler/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/containerruntime/containerruntime.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/controlplane/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/systemcomponents/metricsserver/metrics_server.go
  vendor/github.com/gardener/gardener/pkg/operation/common/extensions.go
  vendor/github.com/gardener/gardener/pkg/operation/garden/garden.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/operation/types.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/patch.go
  vendor/github.com/gardener/gardener/test/framework/common.go
  vendor/github.com/gardener/gardener/test/framework/dump.go
  vendor/github.com/gardener/gardener/test/framework/shoot_utils.go
  vendor/github.com/gardener/gardener/test/framework/shootframework.go
  vendor/modules.txt
Labels: needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/s

#195 Fix release test run
  .ci/test-integration.sh
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#192 Remove deprecated role label key from components
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  pkg/alicloud/types.go
  test/e2e/netpol-gen/app/alicloud.go
  test/e2e/networkpolicies/networkpolicy_test.go
Labels: kind/cleanup, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/s

#196 adapt infrastructure actuator to terraformer@v2
  charts/images.yaml
  pkg/controller/common/terraform.go
  pkg/controller/common/terraform_test.go
  pkg/controller/infrastructure/actuator_test.go
Labels: area/quality, area/robustness, kind/enhancement, kind/test, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#198 Register healthcheck func for csi-snapshot-controller Deployment
  pkg/alicloud/types.go
  pkg/controller/healthcheck/add.go
  test/integration/healthcheck/test.go
Labels: kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#200 vendor g/g 1.14.0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/logger/logger.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/garbage_collection.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/secrets.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/systemcomponents/namespaces/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/common/managedresources.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/istio/crds.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/utils/timewindow.go
  vendor/github.com/gardener/gardener/test/framework/shoot_utils.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#205 Revert "Forbid network cidr 100.64.0.0/10"
  pkg/apis/alicloud/validation/shoot.go
  pkg/apis/alicloud/validation/shoot_test.go
  pkg/validator/shoot_validator.go
Labels: kind/api-change, needs/ok-to-test, reviewed/lgtm, size/m

#206 Pull CSI driver only if it is not present
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
Labels: area/cost, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/xs

#210 Fix external-snapshotter version for Kubernetes >= 1.17
  charts/images.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/xs

#207 Update kubernetes-csi/external-snapshotter to v2.1.3
  charts/images.yaml
Labels: area/storage, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/xs

#212 Check the csi-snapshotter-controller only for >= 1.17
  pkg/controller/healthcheck/add.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#215 Vendor gardener/gardener@f6b4e24
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/backupentry/mapper.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/factory.go
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/graph.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/bootstrap_token.go
  vendor/github.com/gardener/gardener/test/framework/common.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#214 following changes of alicloud nat upgrade
  pkg/alicloud/client/client.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#213 Forbid network cidr 100.64.0.0/10
  pkg/apis/alicloud/validation/shoot.go
  pkg/apis/alicloud/validation/shoot_test.go
  pkg/validator/shoot_validator.go
Labels: area/networking, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, needs/second-opinion, platform/alicloud, priority/normal, size/m
