Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2020-10, with the labels that each got.

#159 Enhance chart options
  Dockerfile
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/templates/vpa.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  example/controller-registration.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#160 Add k8s 1.19 conformance tests (testgrid) links
  README.md
Labels: kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#163 revendor g/g 1.11.2 and mcm 0.34.3
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/volumeattachments.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machine_types.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, size/xs

#164 add priority class for extension pods
  charts/gardener-extension-provider-alicloud/templates/_helpers.tpl
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/templates/priorityclass.yaml
  example/controller-registration.yaml
Labels: area/high-availability, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#165 update alicloud ccm version
  charts/images.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/alicloud-ccm-service.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, size/xs

#167 Do no longer ignore deprecated item usage
  .golangci.yaml
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs
