Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2020-08, with the labels that each got.

#110 Adapt the extension to Loki
  charts/gardener-extension-provider-alicloud/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, needs/ok-to-test, platform/alicloud, priority/normal

#124 Populate worker-configuration in machine deployment
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#125 Change default webhook server port to 10250
  charts/gardener-extension-provider-alicloud/values.yaml
  charts/gardener-extension-validator-alicloud/values.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#128 update registry of alicloud csi plugin
  charts/images.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal

#129 Upgrade csi-plugin-alicloud image version to fix region id not set issue
  charts/images.yaml
Labels: needs/ok-to-test, platform/alicloud, priority/normal

#131 Add PDB for validation server
  charts/gardener-extension-validator-alicloud/charts/runtime/templates/poddisruptionbudget.yaml
Labels: area/high-availability, area/robustness, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#132 Add namespaces/finalizers to extension RBAC role
  charts/gardener-extension-provider-alicloud/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#133 Recreate storage classes if update is failing
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/ops-productivity, area/robustness, area/storage, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, topology/shoot

#136 revendor gardener v1.9.0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/helper/helpers.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/utils.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/controllerregistration.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/types.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kube_apiserver_service.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsentry.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsprovider.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/network/network.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/common/extensions.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shootsecrets/secrets_manager.go
  vendor/github.com/gardener/gardener/pkg/scheduler/controller/shoot/scheduler_control.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/infodata.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/types.go
  vendor/github.com/gardener/gardener/pkg/utils/random.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/control_plane.go
  vendor/github.com/gardener/gardener/test/framework/cleanup.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#135 set ExternalTrafficPolicy of kubeapi server service to Local
  pkg/webhook/controlplaneexposure/add.go
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
  pkg/webhook/shoot/mutator.go
  pkg/webhook/utils/lb_service.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm
