Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2020-09, with the labels that each got.

#143 remove unsupported k8s versions
  README.md
Labels: area/usability, kind/cleanup, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#141 Do not change for non-loadbalancer type service
  pkg/webhook/controlplaneexposure/ensurer_test.go
  pkg/webhook/shoot/lb_service_test.go
  pkg/webhook/utils/lb_service.go
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/alicloud, priority/blocker, reviewed/lgtm

#140 Configure tm bot to run infrastructure integration test
  .ci/.testruns/default.yaml
  .ci/tm-config.yaml
Labels: kind/test, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#144 Fix typo in testrun directory
  .ci/testruns/default.yaml
Labels: area/quality, kind/test, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#145 add infrastructure permission documentation
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#147 Support for Kubernetes 1.19
  README.md
  pkg/webhook/controlplane/ensurer.go
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#149 add an option to enable MutateKubeAPIServerService
  charts/gardener-extension-provider-alicloud/templates/configmap.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/00-componentconfig.yaml
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/webhook/controlplaneexposure/add.go
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/critical, reviewed/lgtm

#150 Updated RBAC to allow node/status update by MCM
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#152 revendor machine controller manager
  go.mod
  go.sum
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/aws_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/zz_generated.deepcopy.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/crd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/server.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/webhook.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/control_plane.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#156 add minAllowed for machine-controller-manager-vpa
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
Labels: area/auto-scaling, area/control-plane, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm

#157 revendor g/g 1.10.2
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/predicate.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/state_actuator.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/admissionplugins.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/miscellaneous.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/operation.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/types.go
  vendor/github.com/gardener/gardener/pkg/operation/types.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/flow.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_delaying.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_immediate.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm
