Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2021-04, with the labels that each got.

#259 clean up the unnecessary flag for infra test
  Makefile
Labels: area/testing, kind/cleanup, kind/test, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/xs

#261 Fix the infrastructure-test TestDefinition
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-alicloud.yaml
Labels: kind/bug, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs

#262 Update kubernetes-csi/external-snapshotter
  README.md
  charts/images.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#265 vendor g/g 1.20.0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/hack/test-cover.sh
  vendor/github.com/gardener/gardener/hack/test.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_project.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_project.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/types.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/gardener/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/secret.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificates.go
  vendor/github.com/gardener/gardener/test/framework/gardener_utils.go
  vendor/github.com/gardener/gardener/test/framework/managedseedframework.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm

#268 depend on publish-trait rather than on injected step(s)
  .ci/pipeline_definitions
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#267 Switch to kaniko oci builder
  .ci/pipeline_definitions
  Dockerfile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#269 Specify livenessProbe for the CSI driver
  .test-defs/provider-alicloud.yaml
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  example/30-worker.yaml
  pkg/alicloud/types.go
  pkg/controller/controlplane/valuesprovider.go
Labels: kind/bug, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/m

#226 Add k8s 1.20 conformance tests (testgrid) links
  README.md
Labels: area/testing, kind/enhancement, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/xs

#272 csi and ccm upgrade
  charts/images.yaml
Labels: area/open-source, kind/enhancement, needs/changes, needs/ok-to-test, needs/review, platform/alicloud, size/xs

#275 fix integration test issue
  test/integration/infrastructure/infrastructure_test.go
Labels: area/testing, kind/bug, kind/test, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/s

#233 refactor alicloud clients
  pkg/alicloud/client/client.go
  pkg/alicloud/client/types.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/controller/infrastructure/client.go
  pkg/controller/infrastructure/client_test.go
  pkg/controller/infrastructure/terraform.go
  pkg/controller/infrastructure/terraform_test.go
  pkg/controller/infrastructure/types.go
  pkg/mock/provider-alicloud/alicloud/client/doc.go
  pkg/mock/provider-alicloud/alicloud/client/mocks.go
  pkg/mock/provider-alicloud/controller/infrastructure/mocks.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/dev-productivity, kind/enhancement, kind/test, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, platform/alicloud, priority/3, size/xl

#270 Add CloudProfile validator
  .ci/pipeline_definitions
  Dockerfile
  Makefile
  charts/gardener-extension-admission-alicloud/.helmignore
  charts/gardener-extension-admission-alicloud/Chart.yaml
  charts/gardener-extension-admission-alicloud/charts/application/Chart.yaml
  charts/gardener-extension-admission-alicloud/charts/application/templates/_helpers.tpl
  charts/gardener-extension-admission-alicloud/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-alicloud/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-admission-alicloud/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-alicloud/charts/application/values.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/Chart.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/_helpers.tpl
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/secret-cert.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/values.yaml
  charts/gardener-extension-admission-alicloud/templates/_helpers.tpl
  charts/gardener-extension-admission-alicloud/values.yaml
  charts/gardener-extension-validator-alicloud/Chart.yaml
  charts/gardener-extension-validator-alicloud/charts/application/Chart.yaml
  charts/gardener-extension-validator-alicloud/charts/runtime/Chart.yaml
  cmd/gardener-extension-admission-alicloud/app/app.go
  cmd/gardener-extension-admission-alicloud/main.go
  example/40-validatingwebhookconfiguration.yaml
  example/admission-alicloud-certs/tls.crt
  example/admission-alicloud-certs/tls.key
  pkg/admission/cmd/options.go
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/serialization.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/webhook.go
  pkg/apis/alicloud/validation/cloudprofile.go
  pkg/apis/alicloud/validation/cloudprofile_test.go
  pkg/validator/shoot_handler.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l
