Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2021-09, with the labels that each got.

#348 Clean up unused const
  pkg/alicloud/types.go
Labels: needs/ok-to-test, needs/review, size/xs

#339 Enable ssh key rotation
  .golangci.yaml
  hack/api-reference/api.md
  pkg/alicloud/client/client.go
  pkg/alicloud/client/types.go
  pkg/apis/alicloud/types_infrastructure.go
  pkg/apis/alicloud/v1alpha1/types_infrastructure.go
  pkg/cmd/config.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  pkg/controller/infrastructure/terraform.go
  pkg/controller/infrastructure/terraform_test.go
  pkg/controller/infrastructure/types.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/mock/provider-alicloud/alicloud/client/mocks.go
  test/integration/infrastructure/common.go
  test/integration/infrastructure/encrypteimagehelper.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, kind/test, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/alicloud

#354 Make the linter fail on missing or wrong doc comments
  .golangci.yaml
  hack/api-reference/config.md
  pkg/admission/mutator/shoot.go
  pkg/admission/validator/webhook.go
  pkg/alicloud/client/ros/create_stack.go
  pkg/alicloud/matchers/matchers.go
  pkg/apis/alicloud/validation/infrastructure.go
  pkg/apis/config/loader/loader.go
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/controller/common/encryptimage.go
  pkg/controller/common/terraform.go
  pkg/controller/dnsrecord/actuator.go
  pkg/webhook/utils/service.go
  test/tm/generator.go
Labels: area/dev-productivity, area/quality, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#356 Nit: Clean up SKIP_FETCH_TOOLS=1 from Makefile
  Makefile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#360 Use external-provisioner@v2.1.2 for K8s >= 1.17
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-provisioner-rbac.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#361 Use external-attacher@v2.2.0 for K8s < 1.17
  charts/images.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-attacher-rbac.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#362 [release-v1.27] Automated cherry pick of #360: Use external-provisioner@v2.1.2 for K8s >= 1.17
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-provisioner-rbac.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#363 [release-v1.27] Automated cherry pick of #361: Use external-attacher@v2.2.0 for K8s < 1.17
  charts/images.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-attacher-rbac.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs
