Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2021-01, with the labels that each got.

#218 fix issue of upgrade enhanced nat
  charts/internal/alicloud-infra/templates/main.tf
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, platform/alicloud, priority/normal, size/xs

#220 Use provider-specific terraformer image
  charts/images.yaml
Labels: area/cost, area/performance, kind/enhancement, kind/test, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#221 modify logic of networking validation
  pkg/apis/alicloud/validation/shoot.go
  pkg/apis/alicloud/validation/shoot_test.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/s

#209 vendor gardener and use worker secret ref. for the machine class credentialsSecretRef
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  go.mod
  go.sum
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/alicoud_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/aws_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/azure_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/gcp_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/openstack_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/packet_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/m

#222 update ram permissions on doc
  docs/usage-as-end-user.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#211 update csi-plugin-alicloud
  charts/images.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, needs/review, platform/alicloud, priority/normal, size/xs

#228 update permission for service linked roles
  docs/usage-as-end-user.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#230 update error message of no permission to create role
  pkg/alicloud/client/client.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/alicloud, priority/normal, size/xs

#227 Change ValidatingWebhookConfiguration to v1
  charts/gardener-extension-validator-alicloud/charts/application/templates/validatingwebhook-validator.yaml
  example/40-validatingwebhookconfiguration.yaml
  example/validator-alicloud-certs/tls.crt
  example/validator-alicloud-certs/tls.key
Labels: area/robustness, kind/enhancement, needs/ok-to-test, needs/review, platform/alicloud, priority/normal, size/m

#229 refactor infra TF values structure
  charts/internal/alicloud-infra/templates/main.tf
  charts/internal/alicloud-infra/values.yaml
  pkg/controller/infrastructure/client.go
  pkg/controller/infrastructure/terraform.go
  pkg/controller/infrastructure/terraform_test.go
  pkg/controller/infrastructure/types.go
Labels: area/quality, kind/enhancement, kind/test, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/m

#224 Migration of in-tree to out-of-tree MCM providers
  charts/images.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/machineclass/templates/machineclass.yaml
  pkg/alicloud/types.go
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/dev-productivity, kind/api-change, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/m
