Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2021-08, with the labels that each got.

#333 Include encrypted field of volume when calculating worker hash
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: needs/ok-to-test, needs/review, platform/alicloud, priority/critical, size/s

#331 Expose MCM logs to the end-users
  charts/gardener-extension-provider-alicloud/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/xs

#337 Correct mutatingwebhook context path
  charts/gardener-extension-admission-alicloud/charts/application/templates/mutatingwebhook-mutator.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#341 Fix several issues in the alicloud mutating webhook
  charts/gardener-extension-admission-alicloud/charts/application/templates/mutatingwebhook-mutator.yaml
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#344 Add provider type predicate to the Shoot mutator
  go.mod
  go.sum
  pkg/admission/mutator/webhook.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/hack/.ci/prepare_release
  vendor/github.com/gardener/gardener/hack/test-cover-clean.sh
  vendor/github.com/gardener/gardener/hack/test-cover.sh
  vendor/github.com/gardener/gardener/hack/test-integration.sh
  vendor/github.com/gardener/gardener/hack/test-prometheus.sh
  vendor/github.com/gardener/gardener/hack/test.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/shoot.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/utils/gardener/backupentry.go
  vendor/modules.txt
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, size/xs

#345 [release-v1.26] Automated cherry pick of #341: Fix several issues in the alicloud mutating webhook
  charts/gardener-extension-admission-alicloud/charts/application/templates/mutatingwebhook-mutator.yaml
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, needs/review, size/s

#346 [release-v1.26] Automated cherry pick of #344: Add provider type predicate to the Shoot mutator
  go.mod
  go.sum
  pkg/admission/mutator/webhook.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/hack/.ci/prepare_release
  vendor/github.com/gardener/gardener/hack/test-cover-clean.sh
  vendor/github.com/gardener/gardener/hack/test-cover.sh
  vendor/github.com/gardener/gardener/hack/test-integration.sh
  vendor/github.com/gardener/gardener/hack/test-prometheus.sh
  vendor/github.com/gardener/gardener/hack/test.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/shoot.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/utils/gardener/backupentry.go
  vendor/modules.txt
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, size/xs

#347 Add Kubernetes v1.21 conformance badge
  README.md
Labels: needs/ok-to-test, reviewed/lgtm

#349 Stop using `github.com/pkg/errors`
  go.mod
  pkg/apis/alicloud/helper/scheme.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_images.go
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/shoot/mutator.go
  test/tm/generator.go
  vendor/modules.txt
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud
