Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2021-12, with the labels that each got.

#397 issue#394:Adopt API change of Ali nat gateway in terraformer
  pkg/controller/infrastructure/templates/main.tpl.tf
Labels: area/control-plane, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud, roadmap/cloud

#400 Prevent nil pointer dereference in admission-alicloud
  pkg/apis/alicloud/validation/infrastructure.go
  pkg/apis/alicloud/validation/infrastructure_test.go
Labels: area/quality, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#401 [release-v1.31] Automated cherry pick of #400: Prevent nil pointer dereference in admission-alicloud
  pkg/apis/alicloud/validation/infrastructure.go
  pkg/apis/alicloud/validation/infrastructure_test.go
Labels: area/quality, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#402 Nit: make a non-nil check more idiomatic
  pkg/apis/alicloud/validation/infrastructure.go
Labels: needs/ok-to-test, needs/review, size/xs

#379 Upgrade terraformer to v2.13.0, a version that uses terraform 0.13
  charts/images.yaml
  pkg/controller/common/terraform.go
Labels: area/control-plane, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#407 Remove the "garden.sapcloud.io/role" label from control plane components
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
Labels: kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#408 remove label from machine class if value is empty
  pkg/controller/worker/machines.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud, needs/cherry-pick

#409 [release-v1.31] Automated cherry pick of #408: remove label from machine class if value is empty
  pkg/controller/worker/machines.go
Labels: needs/ok-to-test

#410 add region to image encryption ROS template name
  .ci/test-integration.sh
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-alicloud.yaml
  pkg/controller/common/encryptimage.go
  pkg/controller/common/encryptimage_test.go
  test/integration/infrastructure/common.go
  test/integration/infrastructure/encrypteimagehelper.go
Labels: area/security, kind/bug, kind/test, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#411 revert crt back to previous version
  example/admission-alicloud-certs/tls.crt
  example/admission-alicloud-certs/tls.key
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#392 Issue386:Make encrypted option to true for system or data disk by default
  charts/gardener-extension-admission-alicloud/charts/application/templates/mutatingwebhook-mutator.yaml
  pkg/admission/mutator/mutator_test.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl, platform/alicloud
