Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2021-11, with the labels that each got.

#377 Extend encryption image to 120 minutes
  pkg/controller/common/encryptimage.go
Labels: area/quality, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#378 Add Kubernetes v1.22 conformance badge
  README.md
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing

#382 Add docforge manifest
  .docforge/manifest.yaml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#383 enable env DISK_AD_CONTROLLER for csi plugin
  charts/gardener-extension-provider-alicloud/templates/configmap.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  docs/usage-as-operator.md
  example/admission-alicloud-certs/tls.crt
  example/admission-alicloud-certs/tls.key
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, platform/alicloud

#384 Enable specifying a domain id in `DNSRecord` `spec.zone`
  pkg/alicloud/client/client.go
  pkg/alicloud/client/client_dns.go
  pkg/alicloud/client/mock/mocks.go
  pkg/alicloud/client/types.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/l, platform/alicloud, merge/squash

#390 fix a bug that csi controller can't start
  VERSION
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#385 Improve the error message when a required part of webhookConfig is missing
  charts/gardener-extension-admission-alicloud/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-alicloud/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/secret-cert.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#389 fix csi plugin liveness probe issue
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#376 Updated cluster creation tutorial
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/_index.md
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Alibaba---Create-Custom-Policy.png
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Alibaba---Create-Technical-User.png
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Alibaba---Grant-Permissions.png
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Alibaba-Cloud---copy-required-policies-from-Gardener-dashboard.png
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Copy-icon.png
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Create-new-project-in-Gardener.png
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Gardener---Add-Alibaba-Cloud-Secret.png
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Gardener---Assign-Alibaba-Cloud-Secret.png
  docs/tutorials/kubernetes-cluster-in-alicloud-with-gardener/images/Help-icon.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/_index.md
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-assign-policy.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-copy-policy.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-create-cluster.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-create-policy.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-create-secret-1.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-create-secret-2.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-create-secret.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-create-user.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-grant-permission.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-input-user.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-kubeconfig.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-new-cluster.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-paste-policy.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-processing-cluster.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/alicloud-user-created.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/copy-icon.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/help-icon.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/new-gardener-project.png
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/images/plus-icon.png
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/alicloud

#374 add tags from pool to machine class
  pkg/controller/worker/machines.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud
