Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2021-03, with the labels that each got.

#244 Vendor g/g@1.17.1 and terraformer config cleanup
  go.mod
  go.sum
  pkg/controller/infrastructure/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_migrate.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/config.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/types.go
  vendor/github.com/gardener/gardener/hack/clean.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_project.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_project.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_project.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/extensions/terraformer/mocks.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/bindata.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/istio/istiod.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/test/framework/gardener_utils.go
  vendor/github.com/gardener/gardener/test/framework/shootmigrationtest.go
  vendor/modules.txt
Labels: area/control-plane-migration, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#246 Allow MCM to list and watch PDBs
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#247 enable flag --version on cmd
  .dockerignore
  Makefile
  cmd/gardener-extension-provider-alicloud/app/app.go
  cmd/gardener-extension-validator-alicloud/app/app.go
  vendor/k8s.io/component-base/version/verflag/verflag.go
  vendor/modules.txt
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/alicloud, priority/normal, reviewed/lgtm, size/xs

#248 Clean up handling for unsupported K8s versions
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-attacher-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-provisioner-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-resizer-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-snapshotter-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/crd-csidriver.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/crd-nodeinfo.yaml
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m

#249 Specify minAllowed cloud-controller-manager VPA
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/vpa.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/alicloud, reviewed/lgtm, size/xs

#253 Vendor gardener/gardener@v1.18.2-0.20210318073350-b8027a3499c0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/reconciler.go
  vendor/modules.txt
Labels: kind/bug, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs

#255 Specify minAllowed values by default for the extension controller
  charts/gardener-extension-provider-alicloud/values.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#257 Clean up the deletion of legacy monitoring ConfigMap
  pkg/controller/controlplane/clean_old_resources.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s
