Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-02, with the labels that each got.

#428 Vendor gardener/gardener@v1.39.4
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  vendor/github.com/gardener/gardener/pkg/apis/core/helper/helpers.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_bastion.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/crds/templates/crd-bastion.tpl.yaml
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/secrets.go
  vendor/modules.txt
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#427 Add support for sa token volume projection in admission charts
  charts/gardener-extension-admission-alicloud/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-alicloud/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/serviceaccount.yaml
  charts/gardener-extension-admission-alicloud/values.yaml
  docs/deployment.md
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/alicloud

#405 🛡 Enable `ServiceAccount` token projection and token requestor
  Makefile
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/templates/serviceaccount.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/templates/serviceaccount.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/machine-controller-manager/shoot/templates/clusterrolebinding-machine-controller-manager.yaml
  charts/internal/machine-controller-manager/shoot/templates/rolebinding-machine-controller-manager.yaml
  charts/internal/machine-controller-manager/shoot/values.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-system-components/charts/alicloud-cloud-controller-manager/templates/rbac-cloud-controller-manager.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-attacher-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-plugin-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-provisioner-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-resizer-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-snapshot-controller-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-snapshotter-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  charts/internal/shoot-system-components/values.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/controller-registration.yaml
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, size/xl, merge/squash

#424 Kubernetes Version Configurability per Worker Pool
  docs/usage-as-end-user.md
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/s, platform/vsphere, merge/squash

#429 Upgrade csi-plugin-alicloud
  charts/images.yaml
Labels: area/open-source, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#426 Support for Kubernetes v1.23
  README.md
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/m, topology/garden, topology/seed, topology/shoot, platform/alicloud, merge/squash

#434 Update valuesprovider.go
  pkg/controller/controlplane/valuesprovider.go
Labels: needs/ok-to-test, reviewed/lgtm

#433 Vendor gardener/gardener@v1.39.5
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/update.go
  vendor/modules.txt
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#437 Fix serviceaccount defaulting during helm upgrade
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
Labels: needs/ok-to-test

#436 inject kube token to alicloud diskplugin in the controller deployment
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-attacher-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-controller-ali-plugin.yaml
  pkg/admission/mutator/shoot.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, platform/alicloud

#438 Keep `cloud-controller-manager`'s `ClusterRoleBinding` on deletion
  charts/internal/shoot-system-components/charts/alicloud-cloud-controller-manager/templates/rbac-cloud-controller-manager.yaml
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#439 Increase cpu resources for csi-driver
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#441 Add release milestone check action
  .github/workflows/release-milestone.yaml
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#440 [release-v1.32] Automated cherry pick of #439: Increase cpu resources for csi-driver
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  example/controller-registration.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, merge/squash
