Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-08, with the labels that each got.

#507 Adapt the priority according to the gardener guideline
  charts/gardener-extension-provider-alicloud/templates/_helpers.tpl
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/templates/priorityclass.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-deployment.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, size/xs, platform/alicloud

#516 Remove install-requirement and use tools.mk
  Makefile
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#519 set configure-cloud-route to true
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#523 Don't deploy `PSP`s when `PodSecurityPolicy` plugin is disabled
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-plugin-psp.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-plugin-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  example/10-fake-shoot-controlplane.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/open-source, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/m, platform/alicloud

#517 allow all communication from pod ip range
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  pkg/controller/infrastructure/terraform.go
  pkg/controller/infrastructure/terraform_test.go
  pkg/controller/infrastructure/types.go
  pkg/mock/provider-alicloud/controller/infrastructure/mocks.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/common.go
  test/integration/infrastructure/encrypteimagehelper.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#518 run new shoot clusters without overlay if not explicitly specified
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/webhook/network/add.go
  pkg/webhook/network/mutate.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/install/install.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/helper/decode.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/network.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, size/m, platform/alicloud

#529 Fix a typo
  pkg/controller/controlplane/valuesprovider.go
Labels: needs/ok-to-test, needs/review, size/xs

#524 Set seccomp profile to RuntimeDefault for csi-driver-node
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-plugin-psp.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#528 [GEP-20] Change StorageClass to WaitForFirstConsumer
  charts/gardener-extension-provider-alicloud/templates/storageclass.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  example/controller-registration.yaml
Labels: area/control-plane, area/high-availability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud
