Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-12, with the labels that each got.

#550 update calico version to v1.27.1
  go.mod
  go.sum
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#548 Do not fail a request for a Shoot from the core.gardener.cloud/v1alpha1 API
  charts/gardener-extension-admission-alicloud/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-alicloud/charts/application/templates/rbac.yaml
  example/50-mutatingwebhookconfiguration
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#549 mutating webhook respects shoot deletion, restore and migration
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, platform/alicloud

#547 upgrade ali csi plugin
  charts/images.yaml
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#556 Update k8s v1.25 conformance test coverage
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#554 Add object selector for provider type for the mutating webhook as well
  charts/gardener-extension-admission-alicloud/charts/application/templates/mutatingwebhook-mutator.yaml
  example/50-mutatingwebhookconfiguration.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#557 Skip network mutation when shoot specs are equal
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#555 Drop support for kubernetes < 1.20 for AliCloud extension provider
  README.md
  charts/images.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/values.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-attacher-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-provisioner-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  docs/usage-as-operator.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  hack/api-reference/api.json
  hack/api-reference/config.json
  hack/api-reference/config.md
  pkg/apis/alicloud/validation/controlplane_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m, platform/alicloud
