Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-05, with the labels that each got.

#478 Removed validation blocking sfz
  pkg/apis/alicloud/validation/shoot.go
  pkg/apis/alicloud/validation/shoot_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud, area/auto-scaling

#479 Automated cherry pick of #478: removed validation blocking sfz
  pkg/apis/alicloud/validation/shoot.go
  pkg/apis/alicloud/validation/shoot_test.go
Labels: needs/ok-to-test, needs/review, size/xs

#484 [release-v1.36] Automated cherry pick of #483: [ci:component:github.com/gardener/machine-controller-manager-provider-alicloud:v0.4.0->v0.4.1]
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#481 Allow MCM to list VolumeAttachments
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: area/control-plane, kind/regression, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#482 [release-v1.36] Automated cherry pick of #481: Allow MCM to list VolumeAttachments
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: area/control-plane, kind/regression, needs/ok-to-test, needs/review, size/xs

#480 Adjust component resources request and limits
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-provider-alicloud/templates/vpa.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/alicloud, area/auto-scaling

#485 Add snaphot validation webhook
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-networkpolicy.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-snaphot-validation-webhook.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  pkg/alicloud/types.go
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/manager/fake/fake_manager.go
  vendor/k8s.io/client-go/testing/actions.go
  vendor/k8s.io/client-go/testing/fake.go
  vendor/k8s.io/client-go/testing/fixture.go
  vendor/k8s.io/client-go/testing/interface.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/alicloud

#486 Renamed tutorial to folder name
  docs/tutorials/kubernetes-cluster-on-alicloud-with-gardener/kubernetes-cluster-on-alicloud-with-gardener.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#490 Support for Kubernetes v1.24
  README.md
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/checkerwatchdog.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/checkerwatchdogfactory.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/watchdogmanager.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/manager/manager.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/options.go
  vendor/github.com/gardener/gardener/hack/test-integration.sh
  vendor/github.com/gardener/gardener/hack/tools.mk
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/client.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_delaying.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/unstructured/object.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/alias.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificate.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/manager/manager.go
  vendor/github.com/gardener/gardener/pkg/utils/validation/features/featuregates.go
  vendor/github.com/gardener/gardener/pkg/utils/version/version.go
  vendor/k8s.io/apimachinery/pkg/util/clock/clock.go
  vendor/modules.txt
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#488 admission-alicloud: Adapt Secrets webhook to rely on the provider label
  charts/gardener-extension-admission-alicloud/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-alicloud/charts/application/templates/validatingwebhook-validator.yaml
  cmd/gardener-extension-admission-alicloud/app/app.go
  example/40-validatingwebhookconfiguration.yaml
  pkg/admission/validator/secretbinding.go
  pkg/admission/validator/secretbinding_test.go
  pkg/admission/validator/secrets.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/validator_suite_test.go
  pkg/admission/validator/webhook.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/index/index.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/secret.go
  vendor/modules.txt
Labels: area/cost, area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, platform/alicloud
