Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-11, with the labels that each got.

#542 Update API Core version in examples to core.gardener.cloud/v1beta1
  README.md
  docs/usage-as-end-user.md
  example/30-controlplane.yaml
  example/30-dnsrecord.yaml
  example/30-infrastructure.yaml
  example/30-worker.yaml
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#543 Cleanup scheduler.alpha.kubernetes.io/critical-pod annotations
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
Labels: area/open-source, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#541 update alicloud security group rule
  pkg/controller/infrastructure/templates/main.tpl.tf
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#540 support switching of network overlay mode
  charts/gardener-extension-admission-alicloud/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-alicloud/charts/application/templates/rbac.yaml
  example/50-mutatingwebhookconfiguration
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#546 upgrade golang to 1.19.3
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-alicloud.yaml
  Dockerfile
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud
