Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-03, with the labels that each got.

#446 Use projected token mount for terraformer
  cmd/gardener-extension-provider-alicloud/app/app.go
  pkg/controller/common/terraform.go
  pkg/controller/common/terraform_test.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/controller/infrastructure/add.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, size/s

#447 regenerate controller-registration.yaml for hotfix branch
  example/controller-registration.yaml
Labels: area/delivery, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#448 Add object selector for provider type in the `gardener-extension-admission-alicloud` webhook
  charts/gardener-extension-admission-alicloud/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-alicloud/values.yaml
  example/40-validatingwebhookconfiguration.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#432 Fix the --version flag
  Makefile
Labels: area/ops-productivity, kind/bug, reviewed/lgtm, size/xs, platform/alicloud

#454 Allow projected volumes in PSP
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-plugin-psp.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud, priority/1, needs/cherry-pick

#455 [release-v1.33] Automated cherry pick of #454: Allow projected volumes in PSP
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-plugin-psp.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#456 Move shoot webhook startup reconciliation into runnable
  cmd/gardener-extension-provider-alicloud/app/app.go
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#450 Improve grafana dashboards
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/ccm-observability-dashboard.json
  charts/internal/seed-controlplane/charts/csi-alicloud/csi-plugin-controller-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, platform/alicloud, merge/squash

#449 Ensure resource cleanup and add integration test for invalid credentials
  test/integration/infrastructure/infrastructure_test.go
Labels: area/usability, kind/test, needs/ok-to-test, needs/rebase, needs/review, size/m, platform/alicloud, merge/squash

#451 support DISK_AD_CONTROLLER env for alicloud csi disk plugin daemonset
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  hack/api-reference/config.md
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/apis/alicloud/types_controlplane.go
  pkg/apis/alicloud/v1alpha1/types_controlplane.go
  pkg/apis/alicloud/v1alpha1/zz_generated.conversion.go
  pkg/apis/alicloud/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/alicloud/zz_generated.deepcopy.go
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, kind/api-change, needs/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/l, platform/alicloud, status/on-hold

#458 [release-v1.33] Automated cherry pick of #453: [ci:component:github.com/gardener/machine-controller-manager:v0.43.0->v0.43.1]
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs

#459 Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#461 [release-v1.33] Automated cherry pick of #459: Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs

#460 move providerID flag to configuration file of kubelet
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud
