Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-07, with the labels that each got.

#502 fetch infra information from worker's infrastructureProviderStatus
  pkg/apis/alicloud/helper/scheme.go
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/bastion/options.go
  test/integration/bastion/bastion_test.go
Labels: area/ops-productivity, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/l, platform/alicloud

#506 Adjust metric name due to upgrading the kube-state-metrics component
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#512 revendor mcm v46
  charts/internal/machine-controller-manager/seed/templates/clusterrole.yaml
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs
