Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-09, with the labels that each got.

#527 Bastion configvalidator
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/alicloud/client/client.go
  pkg/alicloud/client/types.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/add.go
  pkg/controller/bastion/configvalidator.go
  pkg/controller/bastion/configvalidator_test.go
  pkg/controller/infrastructure/actuator.go
  pkg/mock/provider-alicloud/alicloud/client/mocks.go
  test/integration/bastion/bastion_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l, platform/alicloud

#532 Deduplicate livenessProble for admission-alicloud deployment
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
Labels: kind/bug, reviewed/lgtm, size/xs, platform/alicloud

#533 just check whether snat entry is empty when checking snattable
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud, area/testing

#508 Adds MaxAllowed for VPA objects
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud, area/auto-scaling

#535 Upgrade to go 1.19
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-alicloud.yaml
  Dockerfile
  go.mod
  go.sum
  pkg/controller/common/encryptimage.go
Labels: area/quality, kind/enhancement, kind/task, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/alicloud
