Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-04, with the labels that each got.

#399 adapt nodeTemplate in MachineClass
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  go.mod
  go.sum
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/client/clientset/versioned/scheme/doc.go
  vendor/github.com/gardener/machine-controller-manager/pkg/client/clientset/versioned/scheme/register.go
  vendor/modules.txt
Labels: kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/alicloud, area/auto-scaling

#465 Add ready check for webhook server
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-alicloud/values.yaml
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  cmd/gardener-extension-admission-alicloud/app/app.go
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/controller-registration.yaml
  vendor/github.com/gardener/gardener/pkg/healthz/default.go
  vendor/github.com/gardener/gardener/pkg/healthz/healthz.go
  vendor/github.com/gardener/gardener/pkg/healthz/informer.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#444 [GEP-15] Handle extensionsv1alpha1.Bastion resources
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/bastion-test.yaml
  Makefile
  charts/gardener-extension-provider-alicloud/doc.go
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/templates/rbac.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/20-crd-bastion.yaml
  example/30-bastion.yaml
  example/controller-registration.yaml
  pkg/alicloud/client/client.go
  pkg/alicloud/client/types.go
  pkg/cmd/options.go
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/add.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/bastion/options.go
  pkg/controller/bastion/resourcesdefine.go
  pkg/mock/provider-alicloud/alicloud/client/mocks.go
  test/integration/bastion/bastion_suite_test.go
  test/integration/bastion/bastion_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/bastion/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/bastion/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/bastion/reconciler.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/xl, platform/alicloud, merge/squash

#470 remove unused bastion yaml file
  example/20-crd-bastion.yaml
Labels: area/ops-productivity, kind/task, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#473 Update kubernetes-csi/external-snapshotter
  charts/images.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/xs, platform/alicloud

#472 add k8s v1.23 conformance testgrid link
  README.md
Labels: area/certification, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#471 Remove deprecated dashboards
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/ccm-observability-dashboard.json
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/csi-plugin-controller-dashboard.json
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/configmap-observability.yaml
Labels: area/logging, kind/cleanup, reviewed/lgtm, size/xl, platform/alicloud

#457 Update manifest.yaml
  .docforge/manifest.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
