Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2022-01, with the labels that each got.

#415 `make generate` for the year change
  pkg/apis/alicloud/v1alpha1/zz_generated.conversion.go
  pkg/apis/alicloud/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/alicloud/v1alpha1/zz_generated.defaults.go
  pkg/apis/alicloud/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/config/zz_generated.deepcopy.go
Labels: needs/ok-to-test

#412 Let Gardener manage NATGateway when VPC ID is set
  charts/images.go
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/alicloud/types_infrastructure.go
  pkg/apis/alicloud/v1alpha1/types_infrastructure.go
  pkg/apis/alicloud/v1alpha1/zz_generated.conversion.go
  pkg/apis/alicloud/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/alicloud/zz_generated.deepcopy.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/templates/main.tpl.tf
  pkg/controller/infrastructure/terraform.go
  pkg/controller/infrastructure/terraform_test.go
  pkg/controller/infrastructure/types.go
Labels: area/documentation, area/networking, kind/api-change, kind/enhancement, kind/test, needs/ok-to-test, needs/review, needs/second-opinion, reviewed/do-not-merge, size/s, platform/alicloud

#416 fix image name dup issue
  pkg/controller/common/encryptimage.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#414 Client side ratelimit for DNS Record Controller
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/controller-registration.yaml
  go.mod
  pkg/alicloud/client/client.go
  pkg/alicloud/client/client_dns.go
  pkg/alicloud/client/types.go
  pkg/cmd/options.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/add.go
  vendor/modules.txt
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/second-opinion, size/l, platform/alicloud

#418 Add check for the docforge manifest
  .ci/verify
  .gitignore
  Makefile
  hack/tools/bin/.gitkeep
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#420 Nit: Fix a typo
  pkg/admission/mutator/shoot_test.go
  test/integration/infrastructure/encrypteimagehelper.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#419 Update RBAC for leader election of `machine-controller-manager`
  charts/internal/machine-controller-manager/seed/templates/clusterrole.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/lgtm, needs/review, size/xs, platform/alicloud

#423 Remove the cleanup logic for AlicloudMachineClasses
  charts/internal/machineclass/Chart.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud
