Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2023-03, with the labels that each got.

#568 disable snat for non-overlay shoots
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#579 Remove minAllowed.CPU from all components
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-alicloud/values.yaml
  charts/gardener-extension-provider-alicloud/templates/vpa.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/vpa.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud, area/auto-scaling

#583 Update v1.26 conformance test coverage
  README.md
Labels: needs/ok-to-test, needs/review, size/xs

#586 Fix the broken conformance tests link
  README.md
Labels: needs/ok-to-test, needs/review, size/xs, platform/alicloud

#567 Mark csi-disk-plugin-alicloud as node-critical component
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#582 Add wait-for-csi-node annotation to csi-driver-node Pods
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#588 Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  go.mod
  go.sum
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#587 Make the `csi-snapshot-validation` and `gardener-extension-provider-alicloud` Services topology-aware
  charts/gardener-extension-provider-alicloud/templates/service.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/m, platform/alicloud
