Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2023-11, with the labels that each got.

#654 Upgrade CCM to v2.7.0
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#659 Remove dependency to specific calico and cilium versions.
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/types.go
  vendor/modules.txt
Labels: area/networking, kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/alicloud

#658 Remove obsolete flag
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
Labels: area/control-plane, kind/bug, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#663 update mcm provider alicloud to v0.10.1
  imagevector/images.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#664 Add new mutator tests to clarify expected behavior.
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/test, needs/ok-to-test, needs/review, size/s, platform/alicloud

#665 add ccm network flag to public
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud
