Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2023-05, with the labels that each got.

#599 Adapt `NetworkPolicy`s
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-alicloud/templates/service.yaml
  charts/internal/machine-controller-manager/seed/templates/service.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/alicloud-ccm-service.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-service.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
Labels: area/networking, area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#591 Make the `gardener-extension-admission-alicloud` Service topology-aware
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-alicloud/values.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#601 topology-aware routing: Adapt to the upstream annotation change in K8s 1.27
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-alicloud/templates/service.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-service.yaml
  example/controller-registration.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#598 Consider errors from NodesChecker for finding user related issues
  pkg/controller/healthcheck/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, reviewed/ok-to-test, size/xs, platform/alicloud

#595 Remove out-of-support flags from deployment Yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
Labels: area/usability, kind/cleanup, needs/ok-to-test, needs/review, platform/aws, size/xs

#596 Add a new metric that will allow Prometheus to scrape the stale machine count
  charts/internal/machine-controller-manager/seed/templates/configmap-monitoring.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, needs/review, size/xs
