Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2023-07, with the labels that each got.

#629 change csi-plugin version
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, size/xs, platform/alicloud

#630 change csi-plugin version
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#632 Introduce persona-based docs
  .docforge/manifest.yaml
  docs/development/local-setup.md
  docs/operations/deployment.md
  docs/operations/operations.md
  docs/usage/usage.md
Labels: kind/cleanup, needs/ok-to-test, needs/rebase, needs/review, size/s
