Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2023-02, with the labels that each got.

#566 update csi to v1.24.6-55c95dd-aliyun
  charts/images.yaml
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#552 Use provider specific regex to parse error codes from error
  pkg/apis/alicloud/helper/error_codes.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/infrastructure/actuator.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, size/m, platform/alicloud

#570 update alicloud csi plugin to v1.24.7-48214b0-aliyun
  charts/images.yaml
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#572 update ali csi plugin to v1.24.7-48214b0
  charts/images.yaml
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#577 upgrade ali csi to v1.24.10-compatible-29f36f1-aliyun
  charts/images.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
Labels: area/storage, kind/regression, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#576 upgrade csi version
  charts/images.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud
