Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2023-08, with the labels that each got.

#635 Add `gardener-scheduler` region config example
  example/60-gardener-scheduler-region-configmap.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/alicloud, area/scalability

#636 Add support for projected volume kubeconfig
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-alicloud/values.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#637 Fix the type of the network policy port
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/alicloud-ccm-service.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#638 CSI topology label on MachineDeployment creation to allow scale-up
  pkg/alicloud/types.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud, area/auto-scaling

#639 Correct persona for end user tutorial
  .docforge/manifest.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#640 change default disktype from ssd to essd
  charts/gardener-extension-provider-alicloud/templates/storageclass.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  docs/operations/operations.md
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud
