Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2024-07, with the labels that each got.

#733 Update k8s v1.30 conformance test coverage
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#732 [admission] Add `priorityClassName`
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-alicloud/values.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#735 Inserts Architecture from worker to machineclass
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#734 Publish Helm charts as OCI artifacts
  .ci/pipeline_definitions
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud
