Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2024-03, with the labels that each got.

#697 update terraformer to 2.25
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#701 change set network vpc condition
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#702 change set network vpc condition
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#678 Drop support for Shoots with Kubernetes version == 1.24
  README.md
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-plugin-psp.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-plugin-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  docs/usage/usage.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  pkg/apis/alicloud/validation/controlplane_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/cleanup, needs/ok-to-test, needs/review, needs/second-opinion, size/m, platform/alicloud

#694 Add GetBucketInfo to OSS interface
  pkg/alicloud/client/client.go
  pkg/alicloud/client/client_dns.go
  pkg/alicloud/client/types.go
  pkg/mock/provider-alicloud/alicloud/client/mocks.go
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#698 Remove `source-` prefix from `BackupEntry` when performing deletion
  pkg/controller/backupentry/actuator.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/control-plane-migration, platform/alicloud
