Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2024-01, with the labels that each got.

#679 Set COMPONENT_PREFIXES env variable to fix upgrade PRs
  .ci/component_descriptor
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#680 Change integration test region
  .ci/testruns/default/templates/testrun.yaml
  test/integration/infrastructure/common.go
  test/simple/infrastructure/controller.go
Labels: area/control-plane, kind/test, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#684 Fix E2E test panic
  pkg/controller/infrastructure/infraflow/aliclient/actor.go
  pkg/controller/infrastructure/infraflow/reconcile_zone.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#681 Refactor infrastructure validation with ConfigValidator
  README.md
  pkg/admission/validator/shoot.go
  pkg/alicloud/client/types.go
  pkg/apis/alicloud/validation/infrastructure.go
  pkg/apis/alicloud/validation/infrastructure_test.go
  pkg/controller/infrastructure/add.go
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/controller/infrastructure/infraflow/aliclient/actor.go
  pkg/controller/infrastructure/infraflow/aliclient/mock/doc.go
  pkg/controller/infrastructure/infraflow/aliclient/mock/mocks.go
  pkg/controller/infrastructure/infraflow/aliclient/types.go
  pkg/mock/provider-alicloud/alicloud/client/mocks.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/alicloud

#685 Update terraformer to 2.24.0
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#686 Change EIP after infrastructure created in flow based case
  pkg/controller/infrastructure/infraflow/aliclient/actor.go
  pkg/controller/infrastructure/infraflow/aliclient/mock/mocks.go
  pkg/controller/infrastructure/infraflow/reconcile_zone.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#688 Support for Kubernetes v1.29
  README.md
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, size/xs, topology/garden, topology/seed, topology/shoot, platform/alicloud, merge/squash
