Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2024-05, with the labels that each got.

#717 Release v1.49 switch to docker buildx
  .ci/pipeline_definitions
Labels: area/delivery, kind/cleanup, needs/ok-to-test, needs/rebase, needs/review, size/xs, platform/alicloud

#716 Release v1.48 switch to docker buildx
  .ci/pipeline_definitions
Labels: area/delivery, kind/cleanup, needs/ok-to-test, needs/rebase, needs/review, size/xs, platform/alicloud

#719 switch to docker-buildx as oci-builder
  .ci/pipeline_definitions
Labels: area/delivery, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#721 chore: Update Concourse URL
  README.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#723 set hostNetwork true for csi diskplugin ds
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
Labels: area/open-source, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#724 set hostNetwork true for csi diskplugin ds
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
Labels: area/open-source, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#715 Add cluster-autoscaler options to machine deployment
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud, area/auto-scaling

#727 Read new `.spec.pools[].userDataSecretRef` field for worker pool user data
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  hack/cherry-pick-pull.sh
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l, area/scalability

#726 Remove invalid CCM feature gate from the examples
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/values.yaml
  docs/usage/usage.md
  example/30-controlplane.yaml
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#725 controlplaneexposure-webhook: Don't do no-op mutations for Services and Deployments
  pkg/webhook/controlplaneexposure/add.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud, area/scalability

#722 Support for Kubernetes v1.30
  README.md
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot, platform/alicloud, merge/squash

#720 [GEP-19] Adapt monitoring configuration
  charts/gardener-extension-provider-alicloud/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/alicloud-ccm-service.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/configmap-observability.yaml
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/controller-registration.yaml
  go.mod
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, needs/review, size/m
