Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2024-09, with the labels that each got.

#737 Publish separate admission Helm charts
  .ci/pipeline_definitions
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#736 Upgrade and adapt new `WorkerPoolHash` function in Gardener `v1.98`
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/validator/secretbinding.go
  pkg/controller/dnsrecord/actuator_test.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l, platform/alicloud

#731 Add object selector to controlplane webhook with version constraint
  cmd/gardener-extension-provider-alicloud/app/app.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/s, platform/alicloud

#730 shoot webhook: Clean up obsolete mutations and add object selector
  pkg/webhook/shoot/add.go
  pkg/webhook/shoot/mutator.go
  pkg/webhook/shoot/mutator_test.go
  pkg/webhook/shoot/service_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/m, platform/alicloud, area/scalability

#741 remove residual file
  pkg/alicloud/client/mock/gomock_reflect_1228919713/prog.go
Labels: kind/cleanup, needs/ok-to-test, needs/review, size/s, platform/alicloud, area/testing

#738 [GEP-26] CredentialsBinding validation via admission webhook
  charts/gardener-extension-admission-alicloud/charts/application/templates/rbac.yaml
  cmd/gardener-extension-admission-alicloud/app/app.go
  docs/usage/usage.md
  pkg/admission/mutator/shoot.go
  pkg/admission/validator/credentialsbinding.go
  pkg/admission/validator/credentialsbinding_test.go
  pkg/admission/validator/webhook.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/alicloud, area/ipcei
