Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2025-03, with the labels that each got.

#742 Drop support for Shoots with Kubernetes version <= 1.26
  README.md
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-alicloud/templates/poddisruptionbudget.yaml
  charts/gardener-extension-provider-alicloud/templates/service.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-controller-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-service.yaml
  docs/operations/operations.md
  example/controller-registration.yaml
  hack/api-reference/api.json
  hack/api-reference/config.json
  hack/api-reference/config.md
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/alicloud

#767 Fix Deployment in Garden Runtime Cluster
  charts/gardener-extension-provider-alicloud/templates/_helpers.tpl
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-alicloud/templates/rbac.yaml
  charts/gardener-extension-provider-alicloud/templates/service.yaml
  charts/gardener-extension-provider-alicloud/templates/storageclass.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  example/controller-registration.yaml
Labels: area/delivery, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#768 Remove wildcard RBAC resources
  charts/gardener-extension-provider-alicloud/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-alicloud/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/alicloud, area/compliance

#773 using mcm-alicloud v0.12.1
  imagevector/images.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud
