Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2025-02, with the labels that each got.

#755 Enable support for `NamespacedCloudProfile`s, including custom machine images (versions)
  charts/gardener-extension-admission-alicloud/charts/application/templates/rbac.yaml
  docs/usage/usage.md
  pkg/admission/cmd/options.go
  pkg/admission/mutator/namespacedcloudprofile.go
  pkg/admission/mutator/namespacedcloudprofile_test.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/admission/validator/namespacedcloudprofile_test.go
  pkg/admission/validator/webhook.go
  pkg/apis/alicloud/helper/scheme.go
  pkg/apis/alicloud/validation/cloudprofile.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/alicloud

#758 add make target sast for gosec
  .gitignore
  Makefile
  pkg/alicloud/secret.go
  pkg/apis/alicloud/validation/shoot.go
  pkg/apis/config/loader/loader.go
  pkg/controller/common/terraform.go
  pkg/controller/worker/machines.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#762 Add Kubernetes 1.32 support to README.md
  README.md
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, size/xs, topology/garden, topology/seed, topology/shoot, platform/alicloud, merge/squash

#763 fix: correctly inject `podNetwork` cidr in cp chart values
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/alicloud
