Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2025-06, with the labels that each got.

#795 [GEP-31] Adapt extension to support InPlace updates
  .ci/hack/component_descriptor
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  cmd/gardener-extension-admission-alicloud/app/app.go
  cmd/gardener-extension-provider-alicloud/app/app.go
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/30-worker.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/apis/alicloud/validation/shoot.go
  pkg/apis/alicloud/validation/shoot_test.go
  pkg/controller/worker/add.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, area/delivery, area/open-source, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/alicloud, area/scalability

#788 Cleanup no longer needed CSI chart values
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-secret.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#791 OSS backup bucket creation moved to use redundancy set to `ZRS`.
  pkg/alicloud/client/client.go
Labels: area/disaster-recovery, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud

#799 Remove resource limits
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-alicloud/charts/runtime/values.yaml
  charts/gardener-extension-provider-alicloud/templates/vpa.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/m, platform/alicloud

#800 Add Kubernetes 1.33 support
  README.md
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot, platform/alicloud, merge/squash

#801 Specify leader-election namespace
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, reviewed/lgtm, size/xs, platform/alicloud

#804 Remove `gardener/gardener-maintainers` from `CODEOWNERS` file
  CODEOWNERS
Labels: needs/ok-to-test
