Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2025-04, with the labels that each got.

#765 Forbid privilege escalations for containers
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud, area/compliance

#760 Use ServiceTrafficDistribution to make Services topology-aware when runtime Kubernetes >= 1.31
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-alicloud/templates/service.yaml
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-snapshot-validation-webhook-service.yaml
  example/controller-registration.yaml
Labels: area/high-availability, area/networking, needs/ok-to-test, needs/rebase, needs/review, size/xs, platform/alicloud

#774 docs: Add conformance tests results badge for Kubernetes v1.32
  README.md
Labels: area/documentation, area/open-source, kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#772 Update gardener dependency to v1.113.0
  .ci/hack/component_descriptor
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-alicloud.yaml
  Dockerfile
  cmd/gardener-extension-admission-alicloud/app/app.go
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  go.mod
  go.sum
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/controller/backupbucket/add.go
  pkg/controller/backupentry/add.go
  pkg/controller/controlplane/add.go
  pkg/controller/dnsrecord/add.go
  pkg/controller/healthcheck/add.go
  pkg/controller/infrastructure/add.go
  pkg/controller/worker/add.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/alicloud

#766 Make extension ports configurable via helm values
  charts/gardener-extension-provider-alicloud/templates/deployment.yaml
  charts/gardener-extension-provider-alicloud/templates/service.yaml
  charts/gardener-extension-provider-alicloud/values.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud

#780 Fix admission controller chart typo
  charts/gardener-extension-admission-alicloud/charts/runtime/templates/deployment.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#781 Cleanup TODOs related to legacy monitoring configuration
  charts/gardener-extension-provider-alicloud/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, needs/review, size/s, platform/alicloud

#775 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#778 Update base image to `debian12`
  Dockerfile
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#776 Pass worker pool priority to MachineDeployment during generation
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/alicloud
