Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2025-01, with the labels that each got.

#752 chore: Clean up object selector version constraint
  cmd/gardener-extension-provider-alicloud/app/app.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: kind/cleanup, needs/ok-to-test, needs/review, size/s, platform/alicloud

#751 Address TODO after vendoring github.com/gardener/gardener@v1.106
  pkg/webhook/controlplane/ensurer.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, platform/alicloud

#750 Remove VPA for the csi-disk-plugin-alicloud DaemonSet
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud, area/auto-scaling

#756 Update `gardener/gardener` dependency to `v1.110.4`
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/shoot.go
  pkg/cmd/options.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/webhook/infrastructure/mutate.go
  pkg/webhook/shoot/mutator.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l, platform/alicloud

#757 Update CSI image version
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-provisioner-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-snapshot-controller-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/auth/csi-snapshotter-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-snaphot-validation-webhook.yaml
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/alicloud
