Repository gardener/gardener-extension-provider-alicloud, pull requests merged in 2025-05, with the labels that each got.

#779 Add `cloudprovider` mutating webhook to ensure the `cloudprovider` secret has the credentialsFile field present.
  charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-controller.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/templates/csi-diskplugin-secret.yaml
  charts/internal/shoot-system-components/charts/csi-alicloud/values.yaml
  pkg/alicloud/secret.go
  pkg/alicloud/secret_test.go
  pkg/cmd/options.go
  pkg/controller/bastion/configvalidator_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/dnsrecord/actuator_test.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/webhook/cloudprovider/add.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/m, platform/alicloud, area/compliance

#787 ReadSecretCredentials: Only return credentialsFile when present
  pkg/alicloud/secret.go
  pkg/alicloud/secret_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#789 [release-v1.61] Automated cherry pick of #787: ReadSecretCredentials: Only return credentialsFile when present
  pkg/alicloud/secret.go
  pkg/alicloud/secret_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#786 Vendor gardener/gardener to v1.117
  .github/ISSUE_TEMPLATE/support.md
  .golangci.yaml
  charts/gardener-extension-provider-alicloud/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-alicloud/templates/rbac.yaml
  cmd/gardener-extension-admission-alicloud/main.go
  cmd/gardener-extension-provider-alicloud/app/app.go
  cmd/gardener-extension-provider-alicloud/main.go
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  example/controller-registration.yaml
  example/doc.go
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/validator/shoot.go
  pkg/alicloud/client/client.go
  pkg/alicloud/client/client_dns.go
  pkg/alicloud/matchers/sg_permission.go
  pkg/apis/alicloud/helper/helper_test.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/common/encryptimage_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_flow.go
  pkg/controller/infrastructure/infraflow/aliclient/actor.go
  pkg/controller/infrastructure/infraflow/aliclient/updater.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/reconcile_zone.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state_test.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/controller/infrastructure/terraform.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/infrastructure/mutate_test.go
  pkg/webhook/seedprovider/add.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/simple/infrastructure/controller.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/alicloud

#794 Purge unused Machine Controller Manager RBAC resources
  cmd/gardener-extension-provider-alicloud/app/app.go
  cmd/gardener-extension-provider-alicloud/app/migrations.go
Labels: area/security, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/alicloud

#796 Update Flow-base infrastructure reconciliation
  pkg/controller/infrastructure/infraflow/aliclient/actor.go
  pkg/controller/infrastructure/infraflow/aliclient/mock/mocks.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/reconcile_zone.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/utils.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/m, platform/alicloud

#797 Parallel infrastructure tests
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/alicloud, area/testing
